@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: #283655 !important;
    font-family: 'Rambla', sans-serif;
    background: url(media/code-présentation4.jpg) no-repeat fixed 100% 100%;
    background-size: cover;
    overflow-x: hidden;
}

h2,
h3 {
    font-family: 'Audiowide', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}
li {
    list-style-type: none;
}
/* ************************ HEADER *********************** */
.navbar {
    background-color: #6ad1eb;
    opacity: 0.9;
    height: 42px;
    transition: 0.7s;
}
.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}
header {
    text-align: center;
    height: 100vh;
    padding-bottom: 0;
}
h1 {
    padding: 90px 0 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4.3em;
    text-transform: uppercase;
}
#line {
    height: 1px;
    background-color: #b3aca7;
    width: 25%;
    margin: 0 auto;
}
h2 {
    padding: 20px 0 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}
.presentation {
    height: 240px;
    margin-top: 20px;
}
.infos {
    border: 1px solid #b3aca7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}
.photo {
    border: 1px solid #b3aca7;
    position: relative;
}
.photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-width: 90%;
    border-radius: 3px;
    box-shadow: 0 0 4px #111;
}

/* **************** DIPLOMES ********** */
#diplomes {
    background: url(media/tab2.jpg) no-repeat fixed;
    max-width: 800px;
    margin: 20px auto 180px auto;
    padding: 40px 50px 100px 50px;
    background-size: 100% 100%;
    border-radius: 8px;
}
#diplomes h3 {
    padding-top: 25px;

    text-align: center;
    text-shadow: 4px 4px 2px rgba(248, 218, 82, 0.6);
}
#diplomes .data {
    padding: 25px 15px 25px 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.74);
}
#rncp {
    padding: 50px 0 0 5%;
}
#rncp .counter {
    justify-content: center;
}
#bts .counter {
    justify-content: center;
}
#bts {
    padding: 50px 0 0 12%;
}

/* ******************* LANGAGES ****************** */
#langages {
    text-align: center;
    background: url(media/lang.jpg) no-repeat fixed;
    max-width: 800px;
    margin: -10% auto 180px auto;
    padding: 40px 50px 100px 50px;
    background-size: 100% 100%;
    border-radius: 8px;
}
#langages h3 {
    text-shadow: 4px 4px 2px rgba(248, 218, 82, 0.6);
}

#langages .bar {
    letter-spacing: 0.1em;
    padding-top: 0.5em;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
}
/* ******************** FORMATION ****************** */
#formation h3 {
    letter-spacing: 0.08em;
    padding-bottom: 15px;
    text-shadow: 4px 4px 2px rgba(248, 218, 82, 0.6);
    text-align: center;
}
#formation h4 {
    padding-top: 5%;
    padding-bottom: 30px;
    text-align: center;
}

.counter {
    display: flex;
    text-align: center;
    justify-content: center;
}
.data {
    border: 1px solid #005978;
    width: 170%;
    height: 100%;
    margin: 0 4%;
    box-shadow: 0 0 8px #1c9dc4;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.74);
}
.counter-value {
    font-size: 2em;
    width: 100%;
    height: 100%;
}

#formation span {
    font-size: 1.2em;
    width: 100%;
    height: 100%;
}
#formation {
    background: url(media/ecole.jpg) no-repeat fixed;
    max-width: 800px;
    margin: -10% auto 180px auto;
    padding: 40px 50px 100px 50px;
    background-size: 100% 100%;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
/* ******************* PARCOURS **************** */
#parcours {
    max-width: 800px;
    margin: -10% auto 180px auto;
    padding: 40px 50px 100px 50px;
    background: url(./media/tableau2.jpg) no-repeat fixed;
    background-size: 100% 100%;
    border-radius: 8px;
    box-shadow: -1px -1px 8px #c00808;
}
#parcours h3 {
    font-size: 2.5em;
    padding-bottom: 30px;
    text-shadow: 4px 4px 2px rgba(248, 218, 82, 0.6);
}
#parcours h4 {
    font-size: 1.6em;
    color: #ff4e50;
    margin-left: 20px;
}
#parcours h6 {
    font-size: italic;
    color: #edca21;
    margin-left: 20px;
}
#parcours p {
    line-height: 2.1em;
    color: rgb(49, 0, 0);
}
.timeline {
    border-top: 3px solid;
    border-image: linear-gradient(to right, #f9d423, #ff4e50);
    border-image-slice: 1;
    margin: 0;
    padding: 40px;
    position: relative;
}
.timeline:nth-child(1):after {
    content: '▲';
    color: ff4e50;
    position: absolute;
    top: -10px;
    right: -10px;
    box-sizing: content-box !important;
}
.timeline:nth-child(1) {
    border-bottom: 3px solid;
    border-top: none;
    width: 80%;
}
.timeline:nth-child(2) {
    border-top: none;
}
.timeline:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}
.timeline:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}
/* ************************* HOBBIES **************** */
#hobbies {
    padding: 250px 50px 100px 50px;
    margin: -300px 0 -90px 0;
    clip-path: polygon(0% 21%, 100% 31%, 100% 95%, 0% 100%);
    background: #ffbb00;
}
#hobbies h3 {
    transform: rotate(4.2deg);
    font-size: 3em;
    text-shadow: -1px 1px 0px #375e97;
}
.pictures {
    display: flex;
    justify-content: center;
    font-size-adjust: auto;
}
.flip-box-back div {
    margin: 0 auto;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.flip-box-back p {
    text-transform: uppercase;
    padding: 10px;
    font-size-adjust: auto;
}
.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-box {
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    max-width: 300px;
    height: 300px;
    perspective: 10px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 300px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
/* ******************* FOOTER ***************** */
footer {
    text-align: center;
    padding: 160px 50px 5 50px;
}
footer h3 {
    padding: 150px 0 60px 0;
    font-size: 2.5em;
}
.footer-icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 60%;
}
.network {
    font-size: 3em;
    border: 1px solid #b3aca7;
    padding: 30px 45px;
    color: #726659;
    z-index: -1 !important;
    border-radius: 50%;
}
.network:hover {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
}

.arrow {
    margin: -20 auto;
    padding-top: 15px;
    animation: arrow linear 1.5s;
    animation-iteration-count: infinite;
}
@keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    38% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}
.arrow a {
    font-size: 3em;
    border: none;
    color: #726659;
}
.arrow:hover i {
    transform: scale(1.6);
    transition: 0.5s ease-in-out;
    color: #726659;
}
footer p {
    font-size: 0.9em;
    letter-spacing: 0.3em;
}
/* ***************** MEDIA QUERIES ************ */
@media screen and (max-width: 900px) {
    body {
        color: #283655 !important;
        font-family: 'Rambla', sans-serif;
        background: url(media/code-présentation4.jpg) no-repeat fixed 100% 100%;
        background-size: cover;
        overflow-x: hidden;
    }
    .infos h5,
    .typed {
        font-size: 0.9em;
    }
    #diplomes {
        margin-top: -5%;
        margin-bottom: 5%;
        max-width: 400px;
    }
    #langages {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 400px;
    }
    #formation {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 400px;
    }
    #parcours {
        margin-top: 5%;
        margin-bottom: 20%;
        max-width: 400px;
    }
    .network {
        font-size: 2em;
        padding: 10x 20px;
    }
}
@media screen and (max-width: 770px) {
    body {
        color: #283655 !important;
        font-family: 'Rambla', sans-serif;
        background: url(media/code-présentation4.jpg) no-repeat fixed 100% 100%;
        background-size: cover;
        overflow-x: hidden;
    }
    .navbar {
        display: none !important;
    }
    .fixed-top {
        position: unset !important;
    }
    h1,
    h2 {
        font-size: 2em;
    }

    .infos h5,
    .typed {
        font-size: 0.9em;
    }
    #diplomes {
        max-width: 400px;
        margin-top: -5%;
        margin-bottom: 5%;
    }
    #langages {
        max-width: 400px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #formation {
        max-width: 400px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #formation span {
        font-size: 1em;
        width: 100%;
        height: 100%;
    }
    #parcours {
        max-width: 400px;
        margin-top: 5%;
        margin-bottom: 20%;
    }

    .network {
        font-size: 2em;
        padding: 10x 20px;
    }

    .counter-value {
        font-size: 1em;
        height: 100%;
        width: 100%;
    }
    .data-span {
        font-size: 0.8em;
        height: 100%;
        width: 100%;
    }

    .legende p {
        display: none;
    }
    #other-skills h3,
    #hobbies h3,
    footer h3 {
        font-size: 2em;
    }
    .cloud {
        font-size: 1em;
    }
    .flip-box-back p {
        padding: 10px 0px;
    }
    .network {
        font-size: 1.4em;
        padding: 14px 20px;
    }
}
@media screen and (max-width: 520px) {
    body {
        color: #283655 !important;
        font-family: 'Rambla', sans-serif;
        background: url(media/code-présentation4.jpg) no-repeat fixed 100% 100%;
        background-size: cover;
        overflow-x: hidden;
    }
    h1 {
        padding-top: 20px;
    }
    h3 {
        font-size: 1em !important;
    }

    #diplomes {
        margin-top: -30%;
        margin-bottom: 5%;
        max-width: 300px;
    }
    #langages {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 300px;
    }
    #formation {
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 300px;
    }
    #formation span {
        font-size: 0.8em;
        width: 100%;
        height: 100%;
    }
    #parcours {
        margin-top: 5%;
        margin-bottom: 20%;
        max-width: 300px;
    }

    #hobbies {
        margin-top: -30px;
        background-size: 100% 100%;
    }

    .flip-box-back p {
        font-size: 0.7em;
    }
}
